@charset "UTF-8";

#your-name-response {
  height: 500px;
  width: 800px;
  text-align: center;
}

#your-name-response #message {
  height: 50%;
}

#your-name-response #message h1 {
  margin: 0;
  padding: 0;
}

#your-name-response #child-components {
  height: 50%;
}