@charset "UTF-8";

#app {
  height: 100vh;
}

#centered-box {
  width: 100vw;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}